@model InventoryLaptop
@using HD_Veriler.Helpers
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "envanterLaptopDetails";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    var context = DbContextHelper.CreateContext();
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <section class="card">
            <header class="card-header text-center">
                <h2 class="card-title">@ViewBag.username</h2>
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>
            </header>
            <div class="card-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><strong>Markası:</strong></td>
                            <td>@Html.DisplayFor(model => model.BrandName)</td>
                        </tr>
                        <tr>
                            <td><strong>Ram:</strong></td>
                            <td>@Html.DisplayFor(model => model.Ram) GB</td>
                        </tr>
                        <tr>
                            <td><strong>İşletim Sistemi:</strong></td>
                            <td>@Html.DisplayFor(model => model.Os)</td>
                        </tr>
                        <tr>
                            <td><strong>İşlemci:</strong></td>
                            <td>@Html.DisplayFor(model => model.Cpu)</td>
                        </tr>
                        <tr>
                            <td><strong>HDD:</strong></td>
                            <td>@Html.DisplayFor(model => model.StorageHDD)</td>
                        </tr>
                        <tr>
                            <td><strong>SSD:</strong></td>
                            <td>@Html.DisplayFor(model => model.StorageSDD)</td>
                        </tr>
                        <tr>
                            <td><strong>Programlar:</strong></td>
                            <td>@Html.DisplayFor(model => model.Programs)</td>
                        </tr>
                        <tr>
                            <td><strong>Yanında Bulunan Ek Malzemeler:</strong></td>
                            <td>@Html.DisplayFor(model => model.Material)</td>
                        </tr>
                        <tr>
                            <td><strong>Aktif/Pasif:</strong></td>
                            <td>@Html.DisplayFor(model => model.Active)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div class="mt-3 text-center">
            <a asp-action="envanterLaptopIndex" class="btn btn-success btn-lg px-5">
                <i class="bx bx-arrow-back"></i> Laptoplara Geri Dön
            </a>
        </div>
    </div>
</div>
