@model User
@using HD_Veriler.Helpers;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "UserDelete";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    var context = DbContextHelper.CreateContext();
}

<section class="card">
    <header class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
        </div>
        <h2 class="card-title">Kullanıcı Bilgileri</h2>
    </header>
    <div class="card-body">
        <table class="table table-bordered table-striped mb-0" id="datatable-editable" style="font-size: 15px;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NameSurname)</th>
                    <th>@Html.DisplayNameFor(model => model.DepartmanID)</th>
                    <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                    <th>@Html.DisplayNameFor(model => model.EMail)</th>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string? isim = context.Users.FirstOrDefault(x => x.UserID == Model.UserID)?.NameSurname;
                    string? departman = context.Departmans.FirstOrDefault(x => x.DepartmanID == Model.DepartmanID)?.DepartmanName;
                }
                <tr>
                    <td>@isim</td>
                    <td>@departman</td>
                    <td>@Html.DisplayFor(model => model.Telephone)</td>
                    <td>@Html.DisplayFor(model => model.EMail)</td>
                    <td>@Model.StartDate.ToString("dd.MM.yyyy")</td>
                    <td>@Model.EndDate.ToString("dd.MM.yyyy")</td>
                </tr>
            </tbody>
        </table>

        <form asp-action="UserDelete" method="post">
            <input type="hidden" asp-for="UserID" />
            <div class="row mt-3">
                <div class="col-12">
                    <div class="text-center">
                        <input type="submit" value="Kullanıcıyı Sil" onclick="return confirm('Kullanıcıyı silmek istediğinden emin misin?')" class="btn btn-danger">
                        <a asp-action="KullanicilarIndex" class="btn btn-secondary ml-2">Geri</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
