@model IEnumerable<Departman>
@using HD_Veriler.Helpers
@using Microsoft.EntityFrameworkCore

@{
    ViewData["Title"] = "DepartmanIndex";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    var context = DbContextHelper.CreateContext();
}

<section class="card">
    <header class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle><i class="fas fa-chevron-up"></i></a>
            <a href="#" class="card-action card-action-dismiss" data-card-dismiss><i class="fas fa-times"></i></a>
        </div>
        <h2 class="card-title">Departman Bilgileri</h2>
    </header>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <a asp-action="DepartmanCreate" asp-controller="Home" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Yeni Departman Ekle
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover mb-0">
                <thead>
                    <tr>
                        <th>Departman Adı</th>
                        <th>Aktif mi?</th>
                        <th style="text-align: right;">Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string? departmanName = item.Active ? item.DepartmanName : "Olmayan Departman";
                        string background = item.Active ? "" : "bg-danger";
                        <tr class="@background">
                            <td>@departmanName</td>
                            <td>@(item.Active ? "Evet" : "Hayır")</td>
                            <td style="text-align: right;">
                                <div class="btn-group" role="group">
                                    <a class="btn btn-info" asp-action="DepartmanDetails" asp-route-id="@item.DepartmanID" title="Detayları Görüntüle">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a class="btn btn-warning" asp-action="DepartmanEdit" asp-route-id="@item.DepartmanID" title="Düzenle">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger" asp-action="DepartmanDelete" asp-route-id="@item.DepartmanID" title="Sil">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
