@model IEnumerable<Score>
@using System.Globalization

@{
    ViewData["Title"] = "ListScores";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<h1>FilteredScores</h1>

<div class="container">
    <h2 class="text-center">Tarih Bazında Filtrelenmiş Kullanıcı Puanları</h2>
    <div class="row mb-4">
        @{
            int startYear = 2024; // Başlangıç yılı isteğe bağlı olarak belirlenebilir
            int currentYear = DateTime.Now.Year;

            // Başlangıç yılından mevcut yıla kadar olan yılları dinamik olarak oluştur
            for (int year = currentYear; year >= startYear; year--)
            {
                <div class="col-md-2">
                    <h5>@year</h5>
                    <div class="btn-group">
                        @for (int month = 1; month <= 12; month++)
                        {
                            <button type="button" class="btn btn-secondary" onclick="filterScores(@Model.FirstOrDefault()?.UserID, @year, @month)">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)</button>
                        }
                    </div>
                </div>
            }
        }
    </div>

    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Puan ID</th>
                    <th>Kullanıcı ID</th>
                    <th>Soru ID</th>
                    <th>Cevap</th>
                    <th>Puan</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in Model)
                {
                    <tr>
                        <td>@score.ScoreID</td>
                        <td>@score.UserID</td>
                        <td>@score.QuestionID</td>
                        <td>@score.Answer</td>
                        <td>@score.Point</td>
                        <td>@score.AnswerDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@ViewBag.ErrorMessage</p>
    }
</div>

<script>
    function filterScores(userId, year, month) {
        var url = '@Url.Action("ListScores", "Score")' + '?id=' + userId + '&year=' + year + '&month=' + month;

        // AJAX ile kontrol edelim
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                // Veri varsa sayfayı güncelle
                $('body').html(data);
            },
            error: function () {
                alert("Veriye erişirken bir hata oluştu.");
            }
        });
    }
</script>
